.classA{border:solid;padding:5px 1px 200px 40px;width:400px}
.menu{border:solid;padding: 10px 1px 10px 20px;width:400px;}
#new{border:solid;padding: 20px 10px 10px 10px;width:400px;
     position:absolute;top:60px;left:500px;width:200px;height:300px;
     word-wrap: break-word;
     }
 .list li{margin-bottom:10px;}
 .list syain
.cate{margin:0px;padding10px;border:5px solid black;}
#th{margin: -35px 300px;}