.classA{border:solid;padding:5px 1px 200px 40px;width:400px}

/* main */

.menu{border:solid;padding: 10px 1px 10px 20px;width:400px;
      font-size:large;}
#new{border:solid;padding: 20px 10px 10px 10px;width:400px;
     position:absolute;top:60px;left:500px;width:200px;height:300px;
     word-wrap: break-word;
     }
 .list li{margin-bottom:10px;}

/*  社員登録 */
 .syain{line-height:40px;}
 #create{width:600px;
 border:1px solid #000;
	margin:auto;}

/* 社員変更 */
#changemp{width:600px;
 border:1px solid #000;
	margin:auto;line-height:30px;}

/* 社員登録 */
#conp{width:600px;
 border:1px solid #000;
	margin:auto;line-height:30px;}

/*  カテゴリ登録 */
#cate{width:600px;
 border:1px solid #000;
	margin: 0;
	paddint: 0;
	position: relative;
	min-width: 600px;
	min-height:300px;
	line-height:40px;
	font-size:150%;}

/* カテゴリ変更 */
#change{width:600px;
 border:1px solid #000;
	margin:auto;
	line-height:40px;}

/* 感謝カード入力 */
#th{}
#content{width:600px;
 border:1px solid #000;
	margin:auto;}

/* 	パスワード変更 */
 #changepass{width:600px;
 border:1px solid #000;
	margin:auto;line-height:30px;}

td{
width: 200px;
word-wrap:break-word
}