@common("掲示板"){
   感謝される人　　部署名　　名前　　　　　　日付　　　　感謝度並び替え<br>
   感謝した人　　　部署名　　　名前<br>

検索ワード<form action="search.php" method="GET">
<input type="text" name="key">
<input type="submit" name="submit" value="検索">
</form>
<p>
      <table border=1>
      <tr><th></th><th colspan=2>感謝された人</th><th></th><th></th><th colspan=2>感謝した人</th></tr>
      <tr><th>日付</th><th>部署名</th><th>名前</th><th>してもらったこと</th><th>感謝の言葉</th><th>部署名</th><th>名前</th></tr>
      <tr><td>2015/5/3</td><td>システム開発</td><td>新垣</td><td></td><td></td><td></td><td></td></tr>
      <tr><td>行-2</td><td>A-2</td><td>B-2</td><td></td><td></td><td></td><td></td></tr>
      <tr><td>行-3</td><td>A-3</td><td>B-3</td><td></td><td></td><td></td><td></td></tr>
      </table>
    </p>

<a href="@routes.Application.index()">メニューへ戻る</a>



}