 @common("受け取った感謝カード一覧"){
     <h1>受け取った感謝カード一覧</h1>

<p>
      <table border=1>
      <tr><th></th><th colspan=2>感謝された人</th><th></th><th></th><th colspan=2>感謝した人</th></tr>
      <tr><th>日付</th><th>部署名</th><th>名前</th><th>してもらったこと</th><th>感謝の言葉</th><th>部署名</th><th>名前</th></tr>
      <tr><td>2015/5/3</td><td>システム開発</td><td>新垣</td><td></td><td></td><td></td><td></td></tr>
      <tr><td>行-2</td><td>A-2</td><td>B-2</td><td></td><td></td><td></td><td></td></tr>
      <tr><td>行-3</td><td>A-3</td><td>B-3</td><td></td><td></td><td></td><td></td></tr>
      </table>
    </p>
  <a href="@routes.Application.index()">メインページへ戻る</a>
     }