@(deptList:List[Departments])
 @common("社員情報登録画面"){
     <h1>社員情報登録</h1>

 <div class="syain">
 <p><form action="@routes.Createmp.complete()" method="POST">
   社員名 <input type="text" name="emp_name" required/><br>
   部署名<SELECT name="dept_id" required>
          @for(dept <- deptList) {
       <OPTION value="@(dept.dept_id)">@(dept.dept_name)</OPTION>}</SELECT><br>
   パスワード<input type="text" name="password" required/><br>
   メールアドレス <input type="text" name="emp_id" required/><br>
   種別<SELECT name="job_id" required>
       <OPTION value="0">その他</OPTION>
       <OPTION value="1">人事</OPTION>
       <OPTION value="2">経営陣</OPTION>
       </SELECT>
  </p>
  </div>
 <input type="submit" value="登録" />
 <input type="reset" value="リセット" />
 </form>
 <a href="@routes.Application.index()">メニューへ戻る</a>







}