@common("掲示板"){

 <h3>詳細表示</h3>

   <table border=1>
      <tr>
      	<th></th>
      	<th colspan=2>感謝された人</th>

      	<th colspan=2>感謝した人</th>
      </tr>
      <tr>
      	<th>日付</th>
      	<th>部署名</th>
      	<th>名前</th>
      	<th>部署名</th>
      	<th>名前</th>
      </tr>
      </table>
      </p>
      <div class="classA">
        <p>
        してもらったこと
        </p>
      </div>
      <br>
      <div class="classA">
       <p>
        感謝の言葉
       </p>
      </div>


}
