@(thanksList: List[Thanks],categoryList: List[Categories])
<html lang="ja">
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<meta charset="utf-8">
<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
<script>
$(function() {
  var page = 0;
  function draw() {
    $('#page').html(page + 1);
    $('tr').hide();
    $('tr:first,tr:gt(' + page * 10 + '):lt(10)').show();
  }
  $('#prev').click(function() {
    if (page > 0) {
      page--;
      draw();
    }
  });
  $('#next').click(function() {
    if (page < ($('tr').size() - 1) / 10 - 1) {
      page++;
      draw();
    }
  });
  draw();
});
</script>
<style>
td, th {
  border: 1px solid black;
  padding: 2px;
}
#prev, #next {
  color: red;
  cursor: pointer;
}
</style>
</head>
<body>

<h1>代表的一覧の表示</h1>
<span id="prev">＜</span>　<span id="page"></span>　<span id="next">＞</span>

<form action="@routes.Application.exampleSelect()"method="POST">
     <SELECT name="category_id" required>
          @for(cate <- categoryList) {
       <OPTION value=@(cate.category_id)>@(cate.category_name)</OPTION>}
     </SELECT>



          <input type="submit" value="Update" />

</form>


<p>

      <table border=1>
      <tr>
      	<th></th>
      	<th colspan=2>感謝された人</th>
      	<th></th>
      	<th></th>
      	<th colspan=2>感謝した人</th>
      </tr>
      <tr>
      	<th>日付</th>
      	<th>部署名</th>
      	<th>名前</th>
      	<th>してもらったこと</th>
      	<th>感謝の言葉</th>
      	<th>部署名</th>
      	<th>名前</th>
      </tr>
      @for(thanks <- thanksList){
      <tr>
      	<td>@thanks.tnk_date</td>
      	<td>@thanks.emp_id.dept_id.dept_name</td>
      	<td>@thanks.emp_id.emp_name</td>
      	<td>@thanks.help_contents</td>
      	<td>@thanks.tnk_contents</td>
      	<td>@thanks.emp_id2.dept_id.dept_name</td>
      	<td>@thanks.emp_id2.emp_name</td>
      </tr>
      }

      </table>
    </p>

<a href="@routes.Application.index()">メインページへ戻る</a>



</table>
</body>
</html>