@(thanks:Thanks,user:Employees,date:String)

@common("メインページ"){

<script>
function blind() {
	if(@(user.job_id)==2){
		document.getElementById("kei").style.display="block";
	}else if(@(user.job_id)==1) {
		document.getElementById("jinn").style.display="block";
	}
}
setInterval('blind()',1);
function newinfo(){
		document.open();
		if(@(thanks.tnk_point)!=0){
			document.write("新着情報：<br>送信者：@(thanks.emp_id.emp_name)<br>")
			document.write("日付：@(date)<br><br>感謝内容：@(thanks.help_contents)<br><br>感謝の言葉：@(thanks.tnk_contents)");
		}else{
			document.write("感謝カードが1枚もありません");
		}
		document.close();
}

</script>
<h1>メインページ</h1>


        <p>
        <div class="menu">
         ユーザーページ<br>
           <ul class="list">
           <li><a href="@routes.Application.thanks()">感謝カード入力</a><br></li>
           <li><a href="@routes.Board.board()">掲示板</a><br></li>
           <li><a href="@routes.Application.cardview()">受け取った感謝カード</a><br></li>
           <li><a href="@routes.Changepass.password()">パスワード変更</a></li>
           </ul>
        </div>
        </p>
        <p>
         <div id="new">
         <script type="text/javascript">
         newinfo();</script>
         </div>
         </p>
         <p>
         <div id="kei" class="menu" style="display: none;">


        経営者ページ<br>
         <ul class="list">
         <li><a href="@routes.Application.example()">代表的な感謝カード一覧</a></li>
         </ul>
        </div>
        </p>

        <p>
        <div id="jinn" class="menu" style="display: none;">

        人事ページ<br>
         <ul class="list">
         <li><a href="@routes.Createmp.createmp()">社員情報登録</a><br></li>
         <li><a href="@routes.Createmp.changemp()">社員情報変更</a><br></li>
         <li><a href="@routes.Creatcategory.category()">カテゴリ登録</a></li>
         <li><a href="@routes.Creatcategory.changecategory()">カテゴリ変更</a></li>
         </ul>
        </div>
        </p>

        <a href="@routes.Application.logout()">ログアウト</a>

 }