@common("メインページ"){
           <h1>メインページ</h1>

          

         ユーザーページ<br>
           <li><a href="@routes.Application.thanks()">感謝カード入力</a><br></li>
           <li><a href="@routes.Application.board()">掲示板</a><br></li>
           <li><a href="@routes.Application.cardview()">受け取った感謝カード</a><br></li>
           <li><a href="@routes.Application.password()">パスワード変更</a></li>

        </p>

        <p>
        経営者ページ<br>
        </p>
          <li><a href="@routes.Application.example()">代表的な感謝カード一覧</a></li>
        <p>
        人事ページ<br>
         <li><a href="@routes.Application.createmp()">社員情報登録</a><br></li>
         <li><a href="@routes.Application.changemp()">社員情報変更</a><br></li>
         <li><a href="@routes.Application.category()">カテゴリ登録・追加</a></li>
        </p>

        <a href="@routes.Authentication.login()">ログアウト</a>

 }